<div class="navbar-static-top">
  <div class="container">
  <ul class="nav navbar-nav">
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="challenge1.html">Challenge 1: Alignment</a>
    </li>
    <li>
      <a href="challenge2.html">Challenge 2: Decoding</a>
    </li>
    <li>
      <a href="challenge3.html">Challenge 3: Evaluation</a>
    </li>
    <li>
      <a href="challenge4.html">Challenge 4: Reranking</a>
    </li>
    <li>
      <a href="about.html">About</a>
    </li>
  </ul>
  </div>
</div>
